body,
html {
  height: 100%;
}

body {
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-image-with-info {
  background-color: white;

  height: 430px;
  width: 290px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1.2rem;

  padding: 20px 10px;
  margin: auto;
}

.qr-code-image {
  margin: 5px;

  width: 95%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  display: block;

  width: 100%;
  height: 100%;

  border-radius: 1.2rem;
}

.qr-code-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-code-info > h1 {
  width: 85%;
  height: 40px;

  font-weight: bold;
  font-size: 1.4rem;

  text-align: center;
}

.qr-code-info > p:nth-child(2) {
  width: 85%;
  height: 50px;

  text-align: center;
  font-size: 1rem;

  color: #c0c0c0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 40em) {
  .qr-code-image-with-info {
    width: 90%;
    height: 70%;
  }

  .qr-code-image {
    height: 70%;
    padding-top: 2.5em;
  }

  .qr-code-info > p:first-child {
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
  }

  .qr-code-info > p:nth-child(2) {
    text-align: center;
    font-size: 0.95em;
    color: #c0c0c0;
  }
}
