body, html{
  height: 100%;
}

body{
  background-color: lightgray;
}

.qr-code-image-with-info{
 background-color:white;
 height: 70%;
 width: 25%;
 
 display: flex;
 position: absolute;
 inset: 0;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border-radius: 2em;
 padding: 2px;
 margin: auto;
}


.qr-code-image{
  margin: 5px;
  text-align: center;
  width: 95%;
  height: 60%;
}

img {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 2em;
  padding: 10px;
} 

.qr-code-info{
  display: block;
  width: 84%;
}

.qr-code-info > p:first-child{
  font-weight: bold;
  font-size:  1.7em;
  text-align: center;
}

.qr-code-info > p:nth-child(2){
  text-align: center;
  font-size: 1.15em;
  color: #C0C0C0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 40em){
  .qr-code-image-with-info{
    width: 90%;
    height: 70%;
  }

  .qr-code-image{
    height: 70%;
    padding-top: 2.5em;
  }

  .qr-code-info > p:first-child{
    font-weight: bold;
    font-size:  1.15em;
    text-align: center;
  }

  .qr-code-info > p:nth-child(2){
    text-align: center;
    font-size: 0.95em;
    color: #C0C0C0;
  }
}